In [118]:
import pandas as pd
import numpy as np

In [119]:
data = pd.read_csv('../../data/clean_data.csv')

In [120]:
# Filters data to only have one year of data for a specific grade and skill code 
# (will be used to create a filter for the final data)
filtered_data = data[data.year_start == 2018]
filtered_data = filtered_data[filtered_data.grade == 4]
filtered_data = filtered_data[filtered_data['sub_population'].isin(['ABORIGINAL', 'NON ABORIGINAL'])]

filtered_data_num = filtered_data[filtered_data.fsa_skill_code == 'Numeracy']

In [121]:
# Fill a list with the school numbers of schools with both Aboriginal and Non Aboriginal students
num_filter = []
for i in data.school_number.unique():
    if filtered_data_num[filtered_data_num.school_number == i].count()['score'] == 2:
        num_filter.append(i)

In [122]:
# Apply the filter for schools with both Aboriginal and Non Aboriginal students
schools_with_both = data[data.school_number.isin(num_filter)]

In [123]:
schools_with_only_one = data[~data.school_number.isin(num_filter)]

In [124]:
schools_with_both.head()

,Unnamed: 0,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
415,415,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,502031.0,Steeples Elementary,ALL STUDENTS,Numeracy,4,38,36,411.27778,2007,2008
416,416,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,502031.0,Steeples Elementary,FEMALE,Numeracy,4,23,22,442.27273,2007,2008
417,417,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,502031.0,Steeples Elementary,MALE,Numeracy,4,15,14,362.57143,2007,2008
418,418,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,502031.0,Steeples Elementary,ABORIGINAL,Numeracy,4,11,10,439.60000,2007,2008
419,419,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,502031.0,Steeples Elementary,NON ABORIGINAL,Numeracy,4,27,26,400.38462,2007,2008

In [125]:
schools_with_only_one.head()

,Unnamed: 0,data_level,public_or_independent,district_number,district_name,school_number,school_name,sub_population,fsa_skill_code,grade,number_expected_writers,number_writers,score,year_start,year_end
0,0,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,464.27778,2007,2008
1,1,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,16,16,468.87500,2007,2008
2,2,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ENGLISH LANGUAGE LEARNER,Numeracy,4,18,18,464.27778,2007,2008
3,3,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,ALL STUDENTS,Numeracy,4,18,18,531.55556,2008,2009
4,4,SCHOOL LEVEL,BC Public School,5.0,Southeast Kootenay,501007.0,Jaffray Elem-Jr Secondary,NON ABORIGINAL,Numeracy,4,18,18,531.55556,2008,2009

In [126]:
# Save the filtered data to a csv file
schools_with_both.to_csv('schools_with_both.csv')

In [ ]:
schools_with_only_one.to_csv('schools_with_only_one.csv')